*{
    padding: 0;
    margin: 0;

}

html, body{
    width: 100%;
}

.logo{
    width: 200px;
    height: 200px;
}

.menu{
    font-size: 19px;
    font-family: tahoma;
    color: red;
    background: black;
    width: 80%;
    text-align: right;
  
}

.menu ul{
    list-style-type: none;
}

.main{
    display:flex;
}